<div class="container my-4">
    <div class="row">
      <div class="col-9">
        <h2 class="mb-4">All Articles</h2>
        <div class="row row-cols-3 g-4">
          <div class="col" *ngFor="let article of articles">
            <div class="card h-100">
              <div class="card-body">
                <a routerLink="/read/{{article.id}}" class="card-link">
                  <h4 class="card-title">{{ article.title }}</h4>
                </a>
                <p class="card-text">{{ article.subtitle }}</p>
                <div class="card-text">Written by: {{ article.author }}</div>
                <div class="card-text">Created: {{ article.date | date:'MMMM d, y h:mm a'}}</div>
                <div class="card-text" *ngIf="article.lastUpdatedDate">Last Updated: {{article.lastUpdatedDate | date:'MMMM d, y h:mm a'}}</div>
              </div>
              <div class="card-footer d-flex">
                <button (click)="updateArticle(article.id)" class="btn btn-secondary me-2">Edit</button>
                <button (click)="deleteArticle(article.id)" class="btn btn-danger">Delete</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="mb-4">
          <h3 class="mb-3">Search by keywords/tags</h3>
          <form (ngSubmit)="onSubmit(searchString.value)">
            <div class="input-group mb-3">
              <input type="text" placeholder="Search for..." name="searchString" #searchString class="form-control">
              <button type="submit" class="btn btn-secondary">Search</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>