<div class="container-fluid d-flex align-items-center" style="min-height: 93.8vh; background-color: rgb(43, 43, 43);">
        <div class="mx-auto text-center">
            <img class="mb-4" src="https://www.pngkey.com/png/full/126-1262202_rock-band-guitar-icon-for-use-on-a.png" width="400" height="400" >
            <h1 class="display-1 text-white">All Your Rock</h1>
            <p class="lead text-white">Your hub for everything rock related.</p>
            <a routerLink="/home"><h1 class="display-6 text-white">Enter</h1></a>
        </div>
</div>