<div class="container my-4">
    <div *ngIf="article; else notFound">
      <div>
        <h3 class="display-3">{{ article.title }}</h3>
        <h3 class="lead">{{ article.subtitle }}</h3>
        <h6 class="mb-3">Written by {{ article.author }}</h6>
        <div class="mb-2">
          <div>Created: {{ article.date | date:'MMMM d, y h:mm a' }}</div>
          <div *ngIf="article.lastUpdatedDate">
            <p>Last Updated: {{ article.lastUpdatedDate | date:'MMMM d, y h:mm a' }}</p>
          </div>
        </div>
        <!-- <p>{{ article.body }}</p> -->

        <!-- ARTICLE BODY CHUNKS -->
        <!-- <div *ngFor="let chunk of article.chunks">
          <div *ngIf="chunk.type=='text'">
            {{chunk.data.body}}
          </div> -->
        <!-- </div> -->
        <div *ngFor="let chunk of article.chunks">
          <div *ngIf="chunk.data.type=='text'">
            <h2>{{chunk.data.header}}</h2>
            <p>{{chunk.data.body}}</p>
          </div>
          <div *ngIf="chunk.data.type=='image'">
            <img id="chunk.data.filename" src="http://localhost:8080/media/{{chunk.data.fileId}}">
            <p>{{chunk.data.caption}}</p>
            <p>Source: {{chunk.data.source}}</p>
          </div>
        </div>



        
      </div>
    </div>
    <ng-template #notFound>
      <div class="row">
        <div class="col">
          <h3>Article not found!</h3>
        </div>
      </div>
    </ng-template>
  </div>