<div class="container my-4">

    <div *ngIf="article; else notFound">
      <div>
        <h1 class="display-3">{{ article.title }}</h1>
        <h2 class="lead">{{ article.subtitle }}</h2>
        <hr style="border-top: 2px solid black;">
          Written by {{ article.author }} |
          Created: {{ article.date | date:'MMMM d, y h:mm a' }}
          <span *ngIf="article.lastUpdatedDate">
            , Last Updated: {{ article.lastUpdatedDate | date:'MMMM d, y h:mm a' }}
          </span>
        <hr style="border-top: 2px solid black;">
        <div *ngFor="let chunk of article.chunks">
          <div *ngIf="chunk.data.type=='text'">
            <h5>{{chunk.data.header}}</h5>
            <p>{{chunk.data.body}}</p>
          </div>
          <div class="d-flex justify-content-center align-items-center" *ngIf="chunk.data.type=='image'">
            <div class="text-center">
              <img id="chunk.data.filename" class="mx-auto my-auto" src="http://localhost:8080/media/{{chunk.data.fileId}}">
              <div>{{chunk.data.caption}}</div>
              <div><small>Source: {{chunk.data.source}}</small></div>
            </div>
          </div>
        </div>
        <hr>
        <h4>Comments ({{article.comments.length}})</h4>
        <div *ngFor="let comment of article.comments">
          <hr>
          <div class="d-flex justify-content-between">
            <div><b>{{comment.username}}</b></div>
            <div class="text-right">{{comment.date | date:'MMMM d, y h:mm a'}}</div>
          </div>
          <div>{{comment.commentBody}}</div>
        </div>
        <hr>
        <div>
          <h5>Add a Comment:</h5>
          <div>
            <form (ngSubmit)="addComment()">
              <input type="text" placeholder="Comment..." name="commentBody" [(ngModel)]="comment.commentBody" class="form-control">
              <button type="submit" class="btn btn-primary my-2">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <ng-template #notFound>
      <div class="row">
        <div class="col">
          <h3>Article not found!</h3>
        </div>
      </div>
    </ng-template>
    
  </div>