<nav class="navbar bg-dark">
    <div class="container">
      <ul class="navbar-nav align-items-center d-flex flex-row">
        <li>
          <a routerLink="/home">
            <img src="https://www.pngkey.com/png/full/126-1262202_rock-band-guitar-icon-for-use-on-a.png" alt="Icon" width="40" height="40" >
          </a>
        </li>
        <li>
          <a class="nav-link btn btn-link text-white ms-2" type="button" routerLink="/home">All Your Rock</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto align-items-center d-flex flex-row">
        <li class="nav-item me-2"><a class="nav-link btn btn-rounded text-white" routerLink="/create">+ Create Article</a></li>
        <li class="nav-item ms-2"><a class="btn btn-custom btn-rounded text-white" routerLink="/user/register">Register</a></li>
      </ul>
    </div>
</nav>
<router-outlet></router-outlet>




