<!-- <div class="article-form">
    <h2>Create an Article</h2>
    <form (submit)="saveArticle()">
        <input type="text" id="title" name="title" placeholder="Title..." class="form-input" [(ngModel)]="article.title">
        <input type="text" id="subtitle" name="subtitle" placeholder="Subtitle..." class="form-input" [(ngModel)]="article.subtitle">
        <input type="text" id="author" name="author" placeholder="Author..." class="form-input" [(ngModel)]="article.author">
        <textarea id="body" name="body" placeholder="Body..." class="textarea" [(ngModel)]="article.body"></textarea>
        <div><button type="submit">Submit</button></div>
    </form>
</div> -->


    <div class="add-chunks-form" [formGroup]="form">
      <div class="input-group">
        <div class="input-group-prepend col-1">
          <span class="input-group-text my-3">Title</span>
        </div>
        <input type="text" id="title" name="title" placeholder="Title..." class="form-control my-3" formControlName="title">
      </div>
      <div class="input-group">
        <div class="input-group-prepend col-1">
          <span class="input-group-text my-3">Subtitle</span>
        </div>
        <input type="text" id="subtitle" name="subtitle" placeholder="Subtitle..." class="form-control my-3" formControlName="subtitle">
      </div>

      <ng-container formArrayName="chunks">
        <ng-container *ngFor="let chunk of getChunks().controls; let i = index">
          <div [ngSwitch]="chunk.value.type">
            <div *ngSwitchCase="'text'" class="card border border-dark" [formGroupName]="i">
              <div formGroupName="data">
                <div class="card-header" style="background-color: #c0c0c0;">
                  <h3>Text Chunk</h3>
                </div>
                <div class="card-body">
    
                  <div class="input-group">
                    <div class="input-group-prepend col-1">
                      <span class="input-group-text my-3">Header</span>
                    </div>
                    <input type="text" id="header" name="header" placeholder="Header..." class="form-control my-3" formControlName="header">
                  </div>
                  <div class="input-group">
                    <div class="input-group-prepend col-1">
                      <span class="input-group-text my-3">Body</span>
                    </div>
                    <input type="text" id="body" name="body" placeholder="Body..." class="form-control my-3" formControlName="body">
                  </div>
                </div>
                <div class="card-footer d-flex" style="background-color: #c0c0c0;">
                    <button type="button" class="btn btn-danger" (click)="onDeleteForm(i)">Delete Chunk</button>
                </div>
              </div>
            </div>
            <div *ngSwitchCase="'media'" class="card border border-dark" [formGroupName]="i">
              <div formGroupName="data">
                <div class="form-group">
                  <div class="card-header" style="background-color: #c0c0c0;">
                    <h3>Media Chunk</h3>
                  </div>
                  <div class="card-body">
                    <!-- formControlName="file" --------------------------------------v -->
                    <input type="file" id="file" name="file" class="form-control my-3"  (change)="onFileUpload($event, i)">
                    <div class="input-group">
                      <div class="input-group-prepend col-1">
                        <span class="input-group-text my-3">Caption</span>
                      </div>
                        <input type="text" id="caption" name="caption" placeholder="Caption..." class="form-control my-3" formControlName="caption">
                    </div>
                    <div class="input-group">
                      <div class="input-group-prepend col-1">
                        <span class="input-group-text my-3">Source</span>
                      </div>
                      <input type="text" id="source" name="source" placeholder="Source..." class="form-control my-3" formControlName="source">
                    </div>
                    </div>
                  <div class="card-footer d-flex" style="background-color: #c0c0c0;">
                    <button type="button" class="btn btn-danger" (click)="onDeleteForm(i)">Delete Chunk</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <hr>
        </ng-container>
      </ng-container>
  
      <button type="button" class="btn btn-secondary  " (click)="onAddTextForm()">Add Text Chunk</button>
      <button type="button" class="btn btn-secondary  ms-2" (click)="onAddMediaForm()">Add Media Chunk</button>
    </div>